.App {
    width:350px;
    height:100vh;
    margin: auto;

    background-color: #fff;
    border: solid 15px #e3e6e9;
    border-radius: 30px;

    text-align: center;
    

    
    /* margin-top: 40vh; */
  }